* {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

.frame {
  border-radius: 20px;
  border: 15px solid grey;
  margin: 50px;
  width: 90%;
  height: 550px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  display: inline-block;
}

.search {
  margin-right: 20px;
}
input {
  height: 30px;
  width: 400px;
}
.line {
  border: 7px solid grey;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.mainview {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.favoriteSection {
  width: 30%;
  height: 17vw;
  padding: 20px;
  border: 2px double lightsteelblue;
  border-radius: 12px;
  margin: 20px;
  overflow-y: auto;
}
.subtitle {
  display: flex;
  justify-content: space-between;
}
.resultSection {
  width: 60%;
  height: 17vw;
  padding: 20px;
  border: 2px dotted lightsteelblue;
  border-radius: 12px;
  margin: 20px;
  overflow-y: auto;
}
h2 {
  margin-top: 0px;
}

h3 {
  margin-top: 5px;
  font-size: 12px;
}

ul {
  display: flex;
}

.serieCard,
.serieFavCard {
  border-radius: 12px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  background-color: rgb(238, 208, 208);
  margin: 7px;
  width: 100px;
}

.serieCard {
  height: 130px;
}

.serieFavCard {
  height: auto;
}

.favelement {
  color: white;
  font-weight: bold;
  background-color: grey;
  color: rgb(243, 199, 199);
}

.button {
  color: white;
  background-color: rgb(173, 17, 140);
  border-radius: 12px;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

img {
  height: 70px;
  border-radius: 12px;
  align-self: center;
}

.resetButton {
  padding: 5px;
  border-radius: 20px;
  border-color: white;
  background-color: white;
}

.button-reset-all {
  border-radius: 20px;
  border-color: lightgray;
  background-color: white;
  height: 40px;
}

.hidden {
  display: none;
}
